
   <h5>Add an ingredient to your cocktail</h5>
  <%= simple_form_for([@cocktail, @dose]) do |f|%>
    <%= f.input :description, label: "Enter the amount", :class => "form-field" %>
    <%= f.association :ingredient, label: "Pick your ingredient" %>
    <%= f.submit "Post your cocktail", :class => "btn-gen" %>
  <% end %>

