<div class="smallbanner">
  <div class="smallbanner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
<div class="form-link"> <i class="fa fa-glass" aria-hidden="true"></i><%= link_to "    Back to the cocktail list", cocktails_path %></div>
<div class="second-container">

  <h3>Recipe</h3>

  <%= render 'form' %>
  </div>
</div>



