// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";





.btn-main{
  border-radius: 4px;
  line-height: 40px;
  background-color: #38556A;
  color: white;
  font-size: 14px;
}

.btn-main:hover {
  color: white;
  box-shadow: 1px 1px 0 1px;
}

.btn-main a {
  color: white;
}

.btn-main a:hover {
  color: white;
  text-decoration: none;
}
