// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

h3{
  color: #F7CC2F;
  font-size: 40px;
}

h4{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #F7CC2F;
}

h5{
  margin-bottom: 20px;
  font-size: 20px;
  color: #FDB556;
}

a{
  color: #5B053C;
  padding-bottom: 30px;
}

a:hover {
  color: #6B053C;
  text-decoration: none;
  // text-shadow: 2px 2px 2px #C2C2C2;
}




// ----btn-gen ----
.btn-gen{
  line-height: 40px;
  background-color: #5B053C;
  color: white;
  font-family: "Raleway", "Helvetica", "sans-serif";
  width: 150px;
  font-size: 14px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
  text-align: center;
  border:none;
}

.btn-gen:hover{
  color: white;
  background-color: #6B053C;
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
}

.btn-gen a {
  color: white;
}

.btn-gen a:hover {
  color: white;
  text-decoration: none;
}

//----form-link----
.form-link {
  padding-top :20px;
}

.control-label {
  color: #555555;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: lighter;
}

.second-container {
  margin: 0 50px;
}


